---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { url, name, image, description } = {
  url: "/influences/" + Astro.props.post.slug,
  name: Astro.props.post.data.name,
  description: Astro.props.post.data.description,
  image: Astro.props.post.data.image.url,
};
---

<div class="relative flex itemes-cener gap-4">
  <a
    href={url}
    title={`View profile for ${name}`}
    aria-label={`View profile for ${name}`}
    class="absolute inset-0 z-10"></a>

  <Image
    width="800"
    height="800"
    src={image}
    alt={name}
    class="object-cover size-12 rounded-full"
  />

  <div>
    <Text tag="h3" variant="textBase" class="text-primary">
      {name}
    </Text>
    <Text
      tag="p"
      variant="textSM"
      class="font-serif text-primary/60 text-balance"
    >
      {description}
    </Text>
  </div>
</div>
