---
import { getCollection } from "astro:content";
// Layouts & Components
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";
import CoursesSearch from "@/components/courses/CoursesSearch.astro";
import CourseEntry from "@/components/courses/CourseEntry.astro";
// Fetch data
const allLessons = await getCollection("lessons");
const allCourses = (await getCollection("courses")).sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
const tags = [
  ...new Set(allCourses.flatMap((course) => course.data.tags || [])),
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-24 pb-12 lg:pt-48">
      <Text tag="h1" variant="textBase" class="text-primary">
        Our Courses
      </Text>

      <div
        class="relative flex h-full mt-1 overflow-x-scroll gap-2 lg:gap-4 scrollable-content snap-x snap-proximity scrollbar-hide"
      >
        {
          tags.map((tag) => (
            <a
              title={tag}
              aria-label={tag}
              href={`/courses/tags/${tag}`}
              class="text-xs capitalize text-primary/60 hover:text-accent "
            >
              {tag}
            </a>
          ))
        }
      </div>
      <div
        class="flex flex-col pt-2 mt-2 border-t border-dotted gap-2 border-primary/10"
      >
        {
          allCourses.map((course) => (
            <CourseEntry post={course} lessons={allLessons} />
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
